html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#maincollection {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: blue;
}

html {
    height: 100%;
}

header, footer {
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.images {
    justify-content: space-between;
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
}


h1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    color: black;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
}

.nl {
    float: left;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 189);
}

.mlb {
    float: right;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(96, 184, 184);
}

.east {
    float: left;
    width: 33%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 189);
}

.central {    float: center;
    width: 33%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 189);
}

.west {
    float: right;
    width: 33%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 189);
}

#footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(94, 156, 78);
}

@media screen and (min-width: 1140px) {
    section .row .col {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
        
    }
    
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    section .col {
        padding: 1rem;
        flex-grow: .5rem;
        display: flex;
    }

    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}