#maincollection {
    background-color: rgb(96, 97, 201);
}

html, #collection {
    height: 100%;
}

header, footer #collection {
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.one {
    padding: 1em;
    margin: 1em;
    align-content: right;
}

.memorability {
    min-width: none;
    max-width: 200px;
    margin: auto;
    background-color: rgb(8, 43, 83);
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}

.two {
    padding: 1em;
    margin: 1em;
    align-content: center;
}

.three {
    padding: 1em;
    margin: 1em;
    align-content: left;
}

.images {
    padding-top: .5rem;
    padding-bottom:.5rem;
    margin: center;
    text-align: center;
    background-color: rgb(8, 43, 83);
    box-shadow: .5px 1.5px 7.5px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 7.5%;
    background-color: #a593c2;
}

#con1 {
    min-width: none;
    max-width: 750px;
}


#console-image {
    max-width: 400px;
    margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
}

@media screen and (min-width: 1140px) {
    section .row .col {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
        
    }
    
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    section .col {
        padding: 1rem;
        flex-grow: .5rem;
        display: flex;
    }

    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}