html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#mainheader{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(8, 43, 83);
}

.images {
    justify-content: space-between;
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
}


h1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    color: red;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
}

.section-all {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(93, 204, 65);
}

.section-alt {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(115, 142, 167);
}

.section-alba {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: blueviolet;
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(94, 156, 78);
}

@media screen and (min-width: 1140px) {
    section .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
        
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    
    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}