html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#mainheader{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: blue;
}

.images {
    justify-content: center;
    box-shadow: 1px 3px 15px;
    border: 4.5px solid rgb(163, 23, 133);
    border-radius: 15%;
    background-color: #a593c2;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
}

h1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    color: black;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
}

.mlb {
    float: left;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:#83add7;
}

.al {
    float: right;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: #2775c4;
}

.east {
    float: left;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 189);
}

.central {    
    float: right;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 100, 143);
}

.west {
    float: left;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color:rgb(191, 167, 100);
}

#footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(61, 143, 41);
}

@media screen and (min-width: 1140px) {
    section .row {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 3;
        justify-content: center;
        
    }
    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
    }
    .footer{
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }
}
